body {
  text-align: center;
  background-image: url("https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.form-group input {
  width: 10%;
  length: 5%;
}

.btn-btn-sm-btn-primary button {
  width: 10;
}

section {
  text-align: center;
}
.form-group {
  font-display: block;
  font-size: 30px;
  padding-bottom: 30px;
}
h1 {
  font-size: 60px;
}
h3 {
  font-weight: normal;
  font-size: 20px;
}
